<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="demo/demo.css" />
</head>
<body ng-app="demoApp">

  <div class="container">
    <h1>Sanji Validator Demo</h1>

    <div class="row">

      <div class="col-sm-6">
        <div ng-controller="WatchFormCtrl" class="form-box" ng-submit="submit()">
          <h2>Watch Method</h2>
          <form role="form" name="form" class="form-horizontal">

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" ng-model="user.email" placeholder="email" name="email" sanji-validator="email,required" />
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Range</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" ng-model="user.range" minlength="5" maxlength="10" placeholder="5 ~ 10 length" name="range" sanji-validator="range,required" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>

      <div class="col-sm-6">
        <div ng-controller="BlurFormCtrl" class="form-box">
          <h2>Blur Method</h2>
          <form role="form" name="form" class="form-horizontal" sanji-validator-method="blur" sanji-validator-submit ng-submit="submit()">

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input class="form-control" placeholder="email" type="text" ng-model="user.email" name="email" sanji-validator="email,required" />
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Range</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" ng-model="user.range" minlength="5" maxlength="10" placeholder="5 ~ 10 length" name="range" sanji-validator="range,required" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div><!-- .row -->

    <div class="row">

      <div class="col-sm-6">
        <div ng-controller="SubmitFormCtrl" class="form-box">
          <h2>Submit Method</h2>
          <form role="form" name="form" class="form-horizontal" sanji-validator-method="submit" sanji-validator-submit ng-submit="submit()">

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input class="form-control" placeholder="email" type="text" ng-model="user.email" name="email" sanji-validator="email,required" />
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Range</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" ng-model="user.range" minlength="5" maxlength="10" placeholder="5 ~ 10 length" name="range" sanji-validator="range,required" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>

      <div class="col-sm-6">
        <div ng-controller="InvalidCbFormCtrl" class="form-box">
          <h2>Invalid callback with error message disabled</h2>
          <form role="form" name="form" class="form-horizontal" sanji-validator-no-error-msg sanji-validator-method="blur" sanji-validator-submit ng-submit="submit()">

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input class="form-control" placeholder="email" type="text" ng-model="user.email" name="email" sanji-validator="email,required" invalid-callback="bad(errorValidator)" valid-callback="good()" />
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Range</label>
              <div class="col-sm-10">
                <input invalid-callback="bad(errorValidator)" valid-callback="good()" class="form-control" type="text" ng-model="user.range" minlength="5" maxlength="10" placeholder="5 ~ 10 length" name="range" sanji-validator="range,required" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div><!-- .row -->
  </div><!-- .container -->

  <script src="lib/lodash/dist/lodash.js"></script>
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="dist/sanji-validator.js"></script>
  <script src="demo/demo.js"></script>
</body>
</html>
